@import '../../styles/variables';

.btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    transition: 150ms;
    color: $col_white;
    background: $col_primary;
    font-size: 1rem;
    font-weight: 400;
    max-width: 100%;
    text-align: center;

    &:hover {
        opacity: .9;
    }

    &:active {
        transform: scale(.925);
    }
}

@media only screen and (max-width: 1080px) {

    .btn--full-width {
        width: 100%;
    }
}