@import './variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select {
    width: 3rem;
    padding: .25rem;
    font-size: .9rem;
    border: 1px solid $col_white;
    border-radius: .25rem;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: $col_white;
}

select::-ms-expand { 
    display: none;
}

@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    } 
}