@import '../../styles/variables';

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $col_background;
    min-height: 100vh;
    color: $col_white;
    font-size: clamp(1rem, 5vw, 1.5rem);
}