@import '../../styles/variables';

.app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem;
    background-color: $col_background;
    width: 148rem;
    max-width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - 10rem);
    color: $col_secondary;
    font-size: clamp(1.5rem, 5vw, 1.7rem);
}