.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 148rem;
    max-width: 100%;
    padding: 2rem 1.5rem;
    height: 10rem;
    margin: 0 auto;
    font-size: clamp(1.6rem, 5vw, 2rem);
}